.classic.block {
  background-color: blue;
  color: aliceblue;
  border-color: cornflowerblue;
}

.classic .info {
  color: #ffb5bb;
}

.classic .selected {
  background-color: cornflowerblue;
}

.classic .option:hover {
  background-color: cornflowerblue;
}

.classic .extension {
  color: aquamarine;
}
