$MAIN_COLOR: #FF9E9D;
$FONT: #000;
$EFFECTS_BORDER: #FF3D7F;
$IMPORTANT: #060370;

.clumsy.block {
  background-color: $MAIN_COLOR;
  color: $FONT;
  border-color: $EFFECTS_BORDER;
}

.clumsy .info {
  color: $IMPORTANT;
}

.clumsy .selected {
  background-color: $EFFECTS_BORDER;
}

.clumsy .option:hover {
  background-color: $EFFECTS_BORDER;
}

.clumsy .extension {
  color: $IMPORTANT;
}
