.dark.block {
  background-color: #2e3030;
  color: #FFF;
  border-color: white;
}

.dark .info {
  color: #ffa011;
}

.dark .selected {
  background-color: grey;
}

.dark .option:hover {
  background-color: grey;
}

.dark .extension {
  color: #ffa011;
}
