$MAIN_COLOR: blue;
$FONT: aliceblue;
$EFFECTS_BORDER: cornflowerblue;
$IMPORTANT: #ffb5bb;


.classic.block {
  background-color: $MAIN_COLOR;
  color: $FONT;
  border-color: $EFFECTS_BORDER;
}

.classic .info {
  color: $IMPORTANT;
}

.classic .selected {
  background-color: $EFFECTS_BORDER;
}

.classic .option:hover {
  background-color: $EFFECTS_BORDER;
}

.classic .extension {
  color: $IMPORTANT;
}

.classic.error-wrapper {
  background-color: $MAIN_COLOR;
}

.classic .error {
  border-color: $EFFECTS_BORDER;
  color: $FONT;
}

.classic .uri {
  color: $IMPORTANT;
}

.classic.bottom-menu {
  background-color: $MAIN_COLOR;
  color: $FONT;
  border-color: $EFFECTS_BORDER;
}

.classic.bottom-menu .important {
  color: $IMPORTANT;
  font-weight: bold;
}

.classic.bottom-menu li {
  border-color: $EFFECTS_BORDER;
}

.classic.fileeditor {
  background-color: $MAIN_COLOR;
  color: $FONT
}

.classic.fileeditor .header {
  border-color: $EFFECTS_BORDER;
}

.classic.fileeditor .content {
  border-color: $EFFECTS_BORDER;
}

.classic.fileeditor .important {
  color: $IMPORTANT;
}

.classic.fileeditor a {
  color: $FONT;
}

.classic.bgActions {
  background-color: $MAIN_COLOR;
  border-color: $EFFECTS_BORDER;
  color: $FONT;
}

.classic.bgActions th {
  color: $IMPORTANT;
}

.class.bgActions {
  th, td {
    border-color: $EFFECTS_BORDER;
  }
}

