$MAIN_COLOR: #2e3030;
$FONT: #FFF;
$EFFECTS_BORDER: grey;
$IMPORTANT: #ffa011;

.dark.block {
  background-color: $MAIN_COLOR;
  color: $FONT;
  border-color: $EFFECTS_BORDER;
}

.dark .info {
  color: $IMPORTANT;
}

.dark .selected {
  background-color: $EFFECTS_BORDER;
}

.dark .option:hover {
  background-color: $EFFECTS_BORDER;
}

.dark .extension {
  color: $IMPORTANT;
}

.dark.error-wrapper {
  background-color: $MAIN_COLOR;
}

.dark .error {
  border-color: $EFFECTS_BORDER;
  color: $FONT;
}

.dark .uri {
  color: $IMPORTANT;
}

.dark.bottom-menu {
  background-color: $MAIN_COLOR;
  color: $FONT;
  border-color: $EFFECTS_BORDER;
}

.dark.bottom-menu .important {
  color: $IMPORTANT;
  font-weight: bold;
}

.dark.bottom-menu li {
  border-color: $EFFECTS_BORDER;
}
