.listing {
  background-color: blue;
  color: aliceblue;
  list-style-type: none;
  border: 2px solid cornflowerblue;
  height: calc(100% - 105px);
}

.listing td.left {
  border-right: 2px solid cornflowerblue;
}

.filename {
  font-family: Calibri, sans-serif;
  width: 100%;
}

tr.option:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td.right, td.left {
  width: 50%;
  vertical-align: top;
}

td.content {
  padding-left: 5px;
  width: 100%;
}

td.content.selected {
  background-color: cornflowerblue;
}

.extension {
  font-weight: bold;
  color: aquamarine;
}
