<table class="listing">
  <tr>
    <td class="left">
      <table>
        <tr *ngFor="let file of files; let i=index">
          <td *ngIf="i <= files.length / 2" class="content">
            <span class="filename" (click)="selectFile($event, file)" (dblclick)="openFile($event, file)">{{ file.name }}
              <span *ngIf="file.extension">.<span class="extension">{{ file.extension }}</span></span></span>
          </td>
        </tr>
      </table>
    </td>

    <td class="right">
      <table>
        <tr *ngFor="let file of files; let i=index">
          <td *ngIf="i > files.length / 2" class="content">
            <span class="filename" (click)="selectFile($event, file)" (dblclick)="openFile($event, file)">{{ file.name }}
              <span *ngIf="file.extension">.<span class="extension">{{ file.extension }}</span></span></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
