:host {
  flex: 1 1 50%;
  height: 100%;
  border: 11px solid #000;
  display: flex;
  flex-direction: column;
}

/* Main blocks */
:host div.block {
  border-size: 2px;
  border-style: solid;
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
}

:host div.block + div.block {
  border-top: none;
}

.filelist {
  flex: 1 1;
}

.optionStats, .sumStats {
  height: 35px;
}

.menuHeader div {
  flex: 1 1 50%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.menuHeader, .optionStats {
  display: flex;
}

.optionStats div.right, .optionStats div.left {
  flex: 1 1 50%;
}

/* Content */
.info {
  font-weight: bold;
}

.filelist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filelist ul li {
  padding: 5px;
}

.filename {
  width: 100%;
}

.extension {
  font-weight: bold;
}

.option:hover {
  cursor: pointer;
}

.sumStats {
  text-align: center;
}
