<div class="menuHeader block" [ngClass]=themeClass>
  <div class="left">
    <span class="content">Current folder: <span class="info">{{ currentFolder?.path }}</span></span>
  </div>
  <div class="right">
    <span class="content"><span class="info">{{ currentTime }}</span></span>
  </div>
</div>

<div class="filelist block" [ngClass]=themeClass>
  <ul>
    <li *ngFor="let file of files"
        class="content option"
        [class.selected]="file === selectedFile"
        (click)="handleMouseEvent($event, file)"
        (dblclick)="handleMouseEvent($event, file)">
      <span class="filename">{{ file.name }}</span>
      <span *ngIf="file.isFile()">.<span class="extension">{{ file.extension }}</span></span>
    </li>
  </ul>
</div>

<div class="optionStats block" [ngClass]=themeClass>
  <ng-container *ngIf="selectedFile">
    <div class="left">
      <span class="info">{{ selectedFile.name }}</span>
    </div>
    <div class="right">
      <ng-container *ngIf="selectedFile.isFile()">
        Size: <span class="info">{{ selectedFile.size }}b</span>
      </ng-container>
      <ng-container *ngIf="selectedFile.isFolder()">
        <span class="info">{{ selectedFile.type }}</span>
      </ng-container>
      Last modified: <span class="info"> {{ selectedFileModifiedDate }}</span>
    </div>
  </ng-container>
  <div *ngIf="!selectedFile" class="info">No file/folder selected</div>
</div>

<div class="sumStats block" [ngClass]=themeClass>
  <span class="info">Files: </span> {{ sumStatsFiles }}
  <span class="info">Folders: </span> {{ sumStatsFolders }}
  <span class="info">Size: </span> {{ sumStatsSize }}b
</div>


